<h1 [innerHtml]="student.rollno"></h1>
<h1 [innerHtml]="student.name"></h1>
<h1 [innerHtml]="student.cgpa"></h1>

<input type="submit" class="btn" value="Student" (click)="addStudent()">

<p>
    {{student.rollno}}|
    {{student.name}}|
    {{student.cgpa|studpipe}} <br>
</p>
<input type="submit" class="btn" value="Load Students" (click)="addStudents()">

<p  *ngFor="let student of students">
    {{student.rollno}} 
    {{student.name}} 
    {{student.cgpa|studpipe}} <br>
</p>