<div class="container">
    <br>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading"><h2>Product List</h2></div>
        <div class="panel-body" align="center">
            Filter By
            <input type="text" [ngModel]="filterdata" (ngModelChange)="onfilter($event)">
        </div>

        <div class="panel-body">
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th>
                            <button type="button" (click)='toggleImage()' class="btn btn-primary">{{btnvalue}}</button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody *ngFor="let i of data">
                    <tr>
                        <td>
                            <div [hidden]="!(FLAG==1)">
                                <img [src]='i.imageUrl' width="50">
                            </div>
                        </td>
                        <td (click)='GetDetail(i.productId)' >{{i.productName}}</td>
                        <td>{{i.productCode}}</td>
                        <td>{{i.releaseDate}}</td>
                        <td>{{i.price}}</td>
                        <td app-star-component [rating]='i.starRating'></td>
                        <!-- <td><app-star-component [rating]='i.starRating'></app-star-component></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
