<div>
    <span>FirstName</span>&nbsp;
    <input type="text" [ngModel]="firstName" (ngModelChange)="onChange($event)">
    <h2 [innerText]="firstName"> </h2>
    <span>LastName</span>&nbsp;
    <input type="text" [(ngModel)]="lastName">
    <h2>{{lastName}}</h2>
</div>