<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="index.js"></script>
</head>
    <body >

        <div ng-app='myApp' ng-controller='myCtrl'>
            <button type="button" ng-click="Add()">Addition</button>
        
            <h2>{{array1}}</h2>
            <h2>{{total}}</h2>

        </div>

        <script>
            angular.module('myApp', []).controller('myCtrl', function ($scope) {
                $scope.Add = function () {
                    $scope.array1=[10,20,30,40];
                    $scope.total=0;
                    for(var i=0;i<$scope.array1.length;i++)
                    {
                        $scope.total += $scope.array1[i];
                    }
                }
            });
        </script>
    </body>
</html>