<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module</title>
    <script src="angular.js"></script>
</head>
<div ng-app='myApp' ng-controller='myCtrl'>
    <input type='number' name='num' ng-model="num"><br>
    <button type="button" ng-click="checkEven()">Even</button>
    <button type="button" ng-click="checkPrime()">Prime</button>

    <h2>{{messg}}</h2>
</div>
<script>
    angular.module('myApp', []).service('myservice', function () {
        this.checkEven = function (x) {

            if (Number(x) % 2 === 0)
                return ' is an even number';
            else
                return ' is an odd number ';
        };
        this.checkPrime = function (x) {
            var number = x;
            let isPrime = true;
            if (number === 1) {
                return " is neither prime nor composite number.";
            }
            else if (number > 1) {
                for (let i = 2; i < number; i++) {
                    if (number % i == 0) {
                        isPrime = false;
                        break;
                    }
                }
                if (isPrime) {
                    return " is a prime number";
                }
                else {
                    return " is a not prime number";
                }
            }
            else {
                return " is not a prime number.";
            }
        };
    }).controller('myCtrl', function ($scope, myservice) {
        $scope.checkPrime = function () {
            $scope.messg = $scope.num + myservice.checkPrime($scope.num);
        }
        $scope.checkEven = function () {
            $scope.messg = $scope.num + myservice.checkEven($scope.num);
        }
    });
</script>
</body>

</html>