<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module</title>
    <script src="angular.js"></script>
</head>
<div ng-app='myApp' ng-controller='myCtrl'>

    <input type='number' name='num' ng-model="num1"><br>
    <input type='number' name='num' ng-model="num2"><br>
    <button type="button" ng-click="add()">Add</button>
    <button type="button" ng-click="subtract()">subtract</button>
    <button type="button" ng-click="multiply()">multiply</button>
    <button type="button" ng-click="division()">division</button>
    <h2>The Solution is {{answer}} </h2>
    

</div>


<script>

    angular.module('myApp', []).service('myservice', function () {
        this.add = function (x,y) {
            return x+y;
        };
        this.subtract = function (x,y) {
            return x-y;
        };
        this.multiply = function (x,y) {
            return x*y;
        };
        this.division = function (x,y) {
            return x/y;
        };
    }).controller('myCtrl', function ($scope, myservice) {
        $scope.add = function () {
            $scope.answer = myservice.add($scope.num1,$scope.num2);
           
        }

        $scope.subtract = function(){
            $scope.answer = myservice.subtract($scope.num1,$scope.num2);
            
        }

        $scope.multiply = function(){
            $scope.answer = myservice.multiply($scope.num1,$scope.num2);
            
        }

        $scope.division = function(){
            $scope.answer = myservice.division($scope.num1,$scope.num2);
            
        }



    });

</script>

</body>

</html>