<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.js"></script>
    <style>
        img {
            width: 40px;
            height:20px;
        }
    </style>
</head>
<body ng-app='modA'>
    <div ng-controller='controller1'>
        <button id="btn" ng-click="disp()">display</button>
        <ul ng-repeat="d in data">
            <li>{{d.name}}</li>
            <li>{{d.capital}}</li>
            <li><img ng-src="{{d.flag}}"></li>
        </ul>
    </div>
    <script>
        var a = angular.module;
        a('modA', []).controller('controller1', function ($http, $scope) {
            $scope.disp = function () {
                var url = "http://restcountries.eu/rest/v2/all";
                $http.get(url)
                    .then(function (response) {
                        $scope.data = response.data;
                    });
            }
        });
    </script>
</body>
</html>