<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.js"></script>
</head>

<body>

    <div ng-app='myApp'>
        <input type="number" ng-model="data"><br>
        <button ng-click="getEven();getCube();">Submit</button> <br>
        <div ng-controller="EvenController">
            Even : {{result}}
        </div>
        <div ng-controller="CubeController">
            Cube : {{result}}
        </div>
    </div>

    <script>
        // angular.module("myApp", [])
        //     .factory('myAppFactory', function () {
        //         var myAppFactory = {};
        //         myAppFactory.getEven = function (num) {
        //             if (Number(num) % 2 === 0)
        //                 return 'even number';
        //             else
        //                 return 'odd number ';
        //         }
        //         myAppFactory.getCube = function (num) {
        //             return num * num * num;
        //         }
        //         return myAppFactory;
        //     })
        //     .controller('EvenController', function ($scope, $rootScope, myAppFactory) {
        //         $rootScope.getEven = function () {
        //             $scope.result = myAppFactory.getEven($rootScope.data);
        //         }
        //     })
        //     .controller('CubeController', function ($scope, $rootScope, myAppFactory) {
        //         $rootScope.getCube = function () {
        //             $scope.result = myAppFactory.getCube($rootScope.data);
        //         }

        //     });


        angular.module("myApp", []).factory("myAppFactory", [function () { var e = { getEven: function (e) { return Number(e) % 2 == 0 ? "even number" : "odd number " }, getCube: function (e) { return e * e * e } }; return e }]).controller("EvenController",["$scope", "$rootScope", "myAppFactory" ,function (e, n, t) { n.getEven = function () { e.result = t.getEven(n.data) } }]).controller("CubeController",["$scope", "$rootScope", "myAppFactory" ,function (e, n, t) { n.getCube = function () { e.result = t.getCube(n.data) } }]);

    </script>

</body>

</html>