<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.js"></script>

</head>
<body ng-app="student" ng-controller="studentCtrl">
    <li ng-repeat="s in students">
        {{s.id}} {{s.name}} {{s.cgpa|grade}} <br><br>
    </li>
    <script>
        angular.module("student", [])
            .controller("studentCtrl", function ($scope) {
                $scope.students = [{ id: 1, name: "Shobhit", cgpa: 7 },
                { id: 2, name: "rohit", cgpa: 8 },
                { id: 3, name: "rahul", cgpa: 7 },
                { id: 4, name: "khushi", cgpa: 9 }
                ];
            })
            .filter("grade", function () {
                return function (cgpa) {
                    if (cgpa <= 7)
                        return "C";
                    if (cgpa <= 8 && cgpa > 7)
                        return "B";
                    if (cgpa > 8)
                        return "A";
                }
            });
    </script>
</body>
</html>