<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One-Way-Binding</title>
    <script src="angular.js"></script>
    <style>
        .img {
            height: 5px;
            width:5px;
        }
    </style>
</head>

<body ng-app="modA">
    <div ng-controller="controllerA">
        <h1>Student Detail</h1>
        <ul ng-repeat="student in students">

            <li>{{student.rollNo}}</li>
            <li>{{student.name}}</li>
            <li>{{student.CGPA}}</li>
            <li><img ng-src="{{student.img}}"></li>
        </ul>
        <button type="button" ng-click="display()">Display All</button>
    </div>
    <script>
        var app = angular.module;
        app('modA', []).controller('controllerA', function ($scope) {

            $scope.display = function () {

                $scope.students = [{
                    rollNo: 79,
                    name: 'Shobhit',
                    CGPA: 7.13,
                    img: '1.jpg'
                },
                {
                    rollNo: 69,
                    name: 'Rohit',
                    CGPA: 6.13,
                    img: "2.jpg"
                },
                {
                    rollNo: 59,
                    name: 'Rahul',
                    CGPA: 6.73,
                    img: "3.jpg"
                }]
            }
        });
    </script>
</body>

</html>