<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module</title>
    <script src="angular.js"></script>
</head>
<div ng-app='myApp' ng-controller='myCtrl'>

    <input type='number' name='num' ng-model="num"><br>
    <button type="button" ng-click="check()">Submit</button>
    <h2>The number Entered is {{num}} which is {{print}} </h2>

</div>


<script>

    angular.module('myApp', []).service('even', function () {
        this.myFunc = function (x) {

            if (Number(x) % 2 === 0)
                return 'EVEN';
            else
                return 'ODD';
        };
    }).controller('myCtrl', function ($scope, even) {
        $scope.check = function () {
            $scope.print = even.myFunc($scope.num);
        }

    });

</script>

</body>

</html>