<html>

<head>
    <title>Expression</title>
</head>

<script src="angular.js"></script>

<body ng-app>
    
    <script>
    </script>
    <div >
        <h2>First Expression is - {{5+5}}</h2>
        <h3>Second Expression is - {{15-5}}</h3>
    </div>
</body>

</html>