<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filters</title>
    <script src="angular.js"></script>
</head>
<body ng-app="">
    <h1>{{22/7}}</h1>
    <h1>{{name||'Shobhit'|uppercase}}</h1>
    <h1>{{name||'SHOBHIT'|lowercase}}</h1>

</body>
</html>