<html>
<head>
    <title>hello world</title>
</head>
<body>
    <script src="angular.js"></script>
    <script>
        var app = angular.module;
        app('modB', []).controller('controllerB', function ($scope) {
            console.log("Controller B created");
            $scope.msg = "Hello World CB";
             $scope.name = "Tiwari";
        });
        app('modA', ['modB']).controller('controllerA', function ($rootScope,$scope) {
            console.log("Controller A created");
            $rootScope.message = "Hello World CA";
            $scope.name = "Shobhit Tiwari";
        });
    </script>
    <div ng-app="modA" ng-controller="controllerA">
        {{message}}<br>
        {{name}}
        <div ng-controller="controllerB">
            {{msg}}<br>
            {{name}}
        </div>
    </div>

   


</body>

</html>