<html>

<head>
    <title>Increament</title>
    <script src="angular.js"></script>
    <script src="increment.js"></script>
</head>

<body ng-app="incr">
    <button ng-controller="IncrementController" ng-click="increment()">Increment</button>
    <button ng-controller="DecrementController" ng-click="decrement()">Decrement</button>
    {{count}}
</body>

</html>