<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two-Way-Binding</title>
    <script src="angular.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<style>

    * {

background-color: rgb(158, 232, 235);
    }
    #form1{
        margin-top: 170px;;
    }
</style>


</head>


<body ng-app="modA" style="text-align: center;">

    <form id="form1" name="frm" ng-Controller="controllerA">

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email"  name="email" ng-model="user.email" required>
            <span ng-show="frm.email.$dirty && frm.email.$error.required" style="color:red">Required</span>
            <span ng-show="frm.email.$dirty && frm.email.$error.email" style="color:red">Not an Email</span> <br>
            <br>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>

            <input type="password" name="password" ng-model="user.password" required  ng-pattern="re" />
            <span ng-show="frm.password.$dirty && frm.password.$error.required"style="color:red">Required</span>
            <span ng-show="frm.password.$error.pattern" style="color:red">Not Valid Password </span>
            <!-- <span ng-show="frm.password.$dirty && frm.password.$error.minlength" style="color:maroon">too short</span>
            <span ng-show="frm.password.$dirty && frm.password.$error.maxlength" style="color:maroon">too Long</span> -->

        </div>

        <br>

        <button class="btn btn-primary" ng-disabled="frm.$invalid ">Log-In</button>


    </form>

    <script>

        var app = angular.module;
        app('modA', []).controller('controllerA', function ($scope) {
            $scope.re = "^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$";

           
            // $scope.formsubmit = function () {
            //     if (($scope.user.email == "sot7738@gmail.com") && ($scope.user.password == "11111")) {
            //         alert("your are logged IN")
            //     }
            //     else {
            //         alert("Details are wrong")
            //     }
            // }

        });
    </script>



</body>

</html>