<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.js"></script>
</head>
<body ng-app="modA">

    <div ng-controller="controllerA">

        <ul>
            <li ng-repeat="display in points">{{display}}</li>
        </ul>

    </div>


    <script>

        var app = angular.module;

        app('modA',[]).controller('controllerA',function($scope){
            $scope.points=[1,15,19,2,40]

        });


    </script>
    
</body>
</html>