<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module</title>
    <script src="angular.js"></script>
</head>
<body ng-app="modA">

    <div ng-controller="controller1">
        <h1>{{message1}}</h1>
        <h1>{{office}}</h1>
    </div>
    <div ng-controller="controller2">
        <h1>{{message2}}</h1>
        <h1>{{office}}</h1>
    </div>

    <h2>{{office}}</h2>

    <script>
    
    var a=angular.module;

    a('modA',['modB']).controller('controller1',function($rootScope,$scope){
        console.log("Controller A is Created");
        $rootScope.office = "AURIONPRO";
        $scope.message1="This is Controller A";

    });

    a('modB',[]).controller('controller2',function($scope){
        console.log("Controller B is Created");
        $scope.message2="This is Controller B";

    });
    </script>
</body>
</html>