<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.js"></script>

</head>

<body ng-app='modA'> 


    <div ng-controller='controller1'>

        <span><textarea id="textArea" placeholder="Enter a number" ng-model="num"></textarea></span>

        <button id="btn" ng-click="numapi()">Facts</button>

        <h2>{{fact}}</h2>
    </div>

    <script>

        var a = angular.module;

        a('modA', []).controller('controller1', function ($http,$scope) {
            $scope.numapi = function(){
                var url = "http://numbersapi.com/" + $scope.num;
                 $http.get(url)
                .then(function (response) {
                $scope.fact = response.data;
                console.log($scope.fact)
            });
            }

        });
    </script>
</body>

</html>