<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One-Way-Binding</title>
    <script src="angular.js"></script>
</head>

<body ng-app="modA">
    <div ng-controller="controllerA">
        <ul>
            <li><h1>Student Detail</h1></li>
            <li>{{student.rollNo}}</li>
            <li>{{student.name}}</li>
            <li>{{student.CGPA}}</li>
        </ul>
    </div>
    <script>
        var app = angular.module;
        app('modA', []).controller('controllerA', function ($scope) {
            $scope.student = {
                rollNo: 79,
                name: 'Shobhit',
                CGPA: 7.13
            }
        });
    </script>
</body>

</html>