<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module</title>
    <script src="angular.js"></script>
</head>
<div ng-app='myApp' ng-controller='myCtrl'>
    <input type='number' name='num' ng-model="num"><br>
    <button type="button" ng-click="check()">Submit</button>
    <h2>{{messg}}</h2>
</div>
<script>
    angular.module('myApp', []).service('prime', function () {
        this.myFunc = function (x) {
            var number = x;
            let isPrime = true;
            if (number === 1) {
                return " is neither prime nor composite number.";
            }
            else if (number > 1) {
                // looping through 2 to number-1
                for (let i = 2; i < number; i++) {
                    if (number % i == 0) {
                        isPrime = false;
                        break;
                    }
                }
                if (isPrime) {
                    return " is a prime number";
                } 
                else {
                   return  " is a not prime number";
                }
            }
            // check if number is less than 1
            else {
                return " is not a prime number.";
            }
        };
    }).controller('myCtrl', function ($scope,prime) {
        $scope.check = function () {
            $scope.messg = $scope.num + prime.myFunc($scope.num);
        }
    });
</script>
</body>
</html>