<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two-Way-Binding</title>
    <script src="angular.js"></script>
</head>
<body ng-app="modA">
    <div ng-controller="controllerA">
        <label>RollNo:</label>
        <input ng-model="student.rollNo" type="text"><br>
        <label>Name:</label>
        <input ng-model="student.name" type="text"><br>
        <label>CGPA:</label>
        <input ng-model="student.CGPA" type="text"><br>
        <ul>
            <li>{{student.rollNo}}</li>
            <li>{{student.name}}</li>
            <li>{{student.CGPA}}</li>
        </ul>
    </div>
    <script>
        var app = angular.module;
        app('modA', []).controller('controllerA', function ($scope) {
            $scope.student = {
                rollNo: 79,
                name: 'Shobhit',
                CGPA: 7.13
            }
        });
    </script>
</body>
</html>