  table {
    border-collapse: collapse;
    width: 90%;
    border: 2px solid #070707;

}

td,
th {
    border: 2px solid #070707;
    text-align: center;
    padding: 10px;
}



html {
   
    color: rgba(54, 51, 51, 0.986);
    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

button {
    display: inline-block;
    padding: 5px 15px;
    font-weight: 40;
    text-decoration: none;
    border-radius: 300px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}