<div [style.height]="'100%'" [style.width]="'100%'" [style.border-style]="'solid'">
    <h1 [style.fontSize.px]="'40'">Price Calculator</h1>
    price: <input [(ngModel)]="p"><br><br>
    Discount rate: <input [(ngModel)]="r"><br><br>
    <button (click)="pc()">cost</button>
</div>

<div [style.text-align]="'center'">Cost:</div>
<div [innerText]="cost" [style.text-align]="'center'"></div>
<h1>{{cost}}</h1>