<style>

#data1{
    position: absolute;
    width: 20%;
}

</style>


<div class="container"><br><br>
    <div class="panel panel-primary">
        <div class="panel-heading">Product Detail: <span>{{data?.productName}}</span> </div>
        <div class="panel-body" align="center"></div>
        <div class="panel-body" align="center" style="margin-top: 10px">

            <div class="panel-body"> 
                
                <div class="container" id="data1" >
                   <h4>Product Name : {{data?.productName}}</h4>
                    <h4>Product Code :{{data?.productCode}}</h4>
                    <h4>Release Date : {{data?.releaseDate}}</h4>
                    <h4>Price : {{data?.price}}</h4>
                    <h4>Ratings :  <app-star-component [rating]='data?.starRating'></app-star-component></h4>
                </div>

                <div>
                    <img [src]="data?.imageUrl">
                </div>
            
            </div>
            
        </div>
    </div>
</div> 