
    <table class="table table-primary table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Rollnumber</th>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>email</th>
                <th>Gender</th>
                <th>Date</th>
                <th>Delete</th>
            </tr>
    
        </thead>
    
        <tr *ngFor="let tempProduct of students">
            <td>{{tempProduct.id}}</td>
            <td>{{tempProduct.rollNo}}</td>
            <td>{{tempProduct.name}}</td>
            <td>{{tempProduct.age}}</td>
            <td>{{tempProduct.address}}</td>
            <td>{{tempProduct.email}}</td>
            <td>{{tempProduct.isMale}}</td>
            <td>{{tempProduct.date}}</td>
            <td><input id="deleteButton" type="button" value="Delete" (click)="delete1(tempProduct.id)"
                    class="btn btn-danger"></td>
        </tr>
    </table>