 html {
            background-color: #203647;
            color: #EEFBFB;
            font-family: 'Arial', sans-serif;
            font-weight: 150px;
            font-size: 20px;
        }


#CompletedElement li {
  text-decoration: line-through;
}

body{
  padding: 30px 40px;
  color: white;
  text-align: center;
}
h2{
	padding: 5px;
	text-align: center;
  background-color: black;

}

.addBtn{
	 display: inline-block;
            padding: 10px 30px;
            font-weight: 300;
            border-radius: 200px;
}

li {

	margin: 10px;
	color: black;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 25px;
  text-align: center;


}
.check{

  position: absolute;
  left: 30px;
  top:5;
  bottom: 0;
  width: 40px;
  height: 40px;
  border: none;
  
}


