<h2>Loading Countries API</h2>
<button class="btn btn-primary" (click)="load()">load Countries</button>
<!-- <div *ngFor="let l of loa">
 <h2>{{l.name}}</h2>
 <h2>{{l.capital}}</h2>
 <h2><img [src]="l.flag" [style.height]="'40px'" [style.width]="'100px'"></h2>
</div> -->
<div class="table-responsive-xl">

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Capital</th>
                <th>Flag</th>
            </tr>
        </thead>

        <tr *ngFor="let l of loa">
            <td>{{l.name}}</td>
            <td>{{l.capital}}</td>
            <td><img [src]="l.flag" [style.height]="'40px'" [style.width]="'100px'"></td>
        </tr>
    </table>

</div>