<div [style.width.px]="17.5 * rating" [style.overflow]="'hidden'" (click)="LogRating()">

    <div [style.width.px]="17.5 * 5">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </div>

</div>