<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <form>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Product Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" #name>
                </div>
            </div>

            <fieldset class="form-group">

                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Rating</legend>

                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" #rating1 value="1" name="rating" id="rating1">
                            <label class="form-check-label" for="rating1">
                                <i class="fas fa-star"></i>   
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" #rating2 value="2" name="rating" id="rating2">
                            <label class="form-check-label" for="rating2">
                                <i class="fas fa-star"></i>   
                                <i class="fas fa-star"></i>   
                                <span class="glyphicon glyphicon-star"></span>
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" #rating3 value="3" name="rating" id="rating3">
                            <label class="form-check-label" for="rating3">
                                <i class="fas fa-star"></i>   
                                <i class="fas fa-star"></i>   
                                <i class="fas fa-star"></i>   

                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" #rating4 value="4" name="rating" id="rating4">
                            <label class="form-check-label" for="rating4">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>   
                                <i class="fas fa-star"></i>
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" #rating5 value="5" name="rating" id="rating5">
                            <label class="form-check-label" for="rating5">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>   
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>

                            </label>
                        </div>
                    </div>
                </div>

            </fieldset>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary"
                        (click)="addp(name, rating1.checked ? rating1 : rating2.checked ? rating2 : rating3.checked ? rating3 : rating4.checked ? rating4 : rating5.checked ? rating5 : null)">Add</button>
                </div>
            </div>


        </form>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ProductName</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tr *ngFor="let a of products">
                <td>{{a.name}}</td>
                <td>{{a.rating}}</td>
            </tr>
        </table>
    </div>
</div>