
<div class="jumbotron">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink] = '"welcome"'>Acme Application Mangement </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink] = '"welcome"'>Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] = '"productList"'>ProductList </a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
<router-outlet></router-outlet>