
    <label>Product-Name</label>&nbsp;
    <input type="text" [(ngModel)]="name"><br>
    <br>

    <label>Rating</label>&nbsp;
    <span *ngFor="let temR of ratings">
        <input id="temR" [value]="temR" type="radio" name="ratings" [(ngModel)]="rating">
        {{temR}}
    </span>
    <br>
    <br>
    <button type="submit" (click)="addp()">submit</button>&nbsp;
    
    <table>
        <tr>
            <th>Product-id</th>
            <th>ProductName</th>
            <th>Rating</th>
        </tr>
        <tr *ngFor="let tempProduct of products; let i = index">
        <td>{{i+1}}</td>
        <td>{{tempProduct.name}}</td>
        <td>{{tempProduct.rating}}</td>
        </tr>
    </table>
 
