<div class="container"><br><br>
    <div class="panel panel-primary">
        <div class="panel-heading"><h2>Welcome</h2></div>
        <div class="panel-body" align="center"><img [src]='imageUrl' width=300 /></div>
        <div class="panel-body" align="center" style="margin-top: 10px"><label>Developed by:</label><br>
            <p>Shobhit Tiwari</p>
            <h5>sot7738@gmail.com</h5>
        </div>
    </div>
</div> 