<div class="jumbotron jumbotron-fluid">

    <div class="container">
        <form>
          <h2>Enter Student Details</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="first">Rollnumber</label>
                <input type="text" class="form-control" name="rollNo" placeholder="Enter Rollnumber" [(ngModel)]="rollNo">
              </div>
            </div>
      
            <div class="col-md-6">
              <div class="form-group">
                <label for="last">Age</label>
                <input type="text" class="form-control" name="age" placeholder="Enter Age" [(ngModel)]="age">
              </div>
            </div>
          </div>
      
      
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="company">Address</label>
                <input type="text" name="address" class="form-control" placeholder="Enter Address" [(ngModel)]="address">
              </div>
      
      
            </div>
      
            <div class="col-md-6">
      
              <div class="form-group">
                <label for="phone">Email address</label>
                <input type="tel" name="email" class="form-control" [(ngModel)]="email" placeholder="Enter Email">
              </div>
            </div>
          </div>
      
      
          <div class="row">
            <div class="col-md-6">
      
              <div class="form-group">
                <label for="email">isMale</label>
                <input type="email" name="isMale" class="form-control" [(ngModel)]="isMale" placeholder="is male">
              </div>
            </div>
      
            <div class="col-md-6">
              <div class="form-group">
                <label for="url">Date</label>
                <input type="url" name="date" class="form-control" [(ngModel)]="date" placeholder="Enter Date">
              </div>
      
            </div>
          </div>
    
      
      
          <div class="form-group">
            <div class="col-sm-6 ">
                <button class="btn btn-primary " type="submit" (click)="add1()">submit</button>&nbsp;
            </div>
        </div>
    
        </form>
      </div>
    </div>