

<div class="jumbotron">
    <div>
        RollNo:
        <input type="number" ng-model="editTarget.rollNo"><br><br>
        Name:
        <input type="text" ng-model="editTarget.name"><br><br>
        Age:
        <input type="number" ng-model="editTarget.age"><br><br>
        Email:
        <input type="text" ng-model="editTarget.email"><br><br>
        Date:
        <input type="date" ng-model="editTarget.date|date"><br><br>
        Gender:
        <form>
            <input type="radio" ng-model="editTarget.isMale" value="true">Yes
            <input type="radio" ng-model="editTarget.isMale" value="false">No <br><br>
        </form>
        <button class="btn btn-primary" ng-click="editStudent()">Edit</button>
    </div>
  </div>