<!-- <h1>Hello</h1>
<app-binding></app-binding> -->
<!-- <welcome-app></welcome-app> -->
<!-- <app-student></app-student> -->
<!-- <app-twoway-binding></app-twoway-binding> -->
<!-- <app-calculator></app-calculator> -->
<!-- <app-form></app-form> -->
<!-- <app-noapi></app-noapi> -->
<!-- <app-pricecalculator></app-pricecalculator> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-snake></app-snake> -->
<!-- <app-countryapi></app-countryapi> -->
<!-- <app-logintemplate></app-logintemplate> -->
<!-- <app-product-temp></app-product-temp> -->
<app-studentapi></app-studentapi>