<div>
    <span>FirstNumber</span>&nbsp;
    <input type="number" [(ngModel)]="fno"><br>
    <span>Second Number</span>&nbsp;
    <input type="number" [(ngModel)]="sno"><br><br>

    <input type="submit" value="add" (click)="add()">&nbsp;
    <input type="submit" value="sub" (click)="sub()">&nbsp;
    <input type="submit" value="mul" (click)="mul()">&nbsp;
    <input type="submit" value="div" (click)="div()">&nbsp;
    <h1>{{message}}</h1>

</div>