<div ng-controller='controller1'>

    <span><textarea id="textArea" placeholder="Enter a number" [(ngModel)]="num"></textarea></span>

    <button id="btn" (click)="numapi()">Facts</button>

    <h2>{{fact}}</h2>
</div>